html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td {
    margin: 0;
    padding: 0;
    outline:none;
}

/*A*/
a{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
/*img*/
img{ border:0 none; vertical-align:top;}
/*li*/
ul,li{list-style-type:none;}
/*æµ®åŠ¨*/
.fl{
    float:left;
    display:inline;
}
.fr{
    float:right;
    display:inline;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    line-height: 0;
}
.clearfix {
    zoom: 1;
}
.displayNone {
    display: none;
}

img{boder:0;}
a{blr:expression(this.onFocus=this.close());}
a{blr:expression(this.onFocus=this.blur());}
a:focus { -moz-outline-style: none; }
a:focus { outline: none; }
.clear{clear:both;}